@import './base.css';
body {
    background: white;
    color: #2c3e50;
}
.image-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-game {
    background: white;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.75);
    height: 180px;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4
}

@media only screen and (max-width: 769px) {
    .card-game {
        width: 80px;
        height: 80px;
    }
}